extends layout

block content
  div.container.theme-showcase(role="main")
    div.jumbotron
      h1= title
    div(ng-app="myApp" ng-controller="gestor")
      p.lead IP DEL SERVIDOR:
        input(placeholder="localhost:3000" ng-model="servidor")
      button.btn-primary(ng-click="guardarServidor(servidor)") añadir
      div(ng-repeat="servidor in servidores track by $index")
        h1 {{servidor.servidor}}
        p.lead PROCESO:
          input(placeholder="1" ng-model="pro")
          button.btn-primary(ng-click="crear(pro, servidor)") crear
        div(ng-repeat="proceso in servidor.procesos track by $index")
          p.lead {{proceso.id}}
            button.btn-success(ng-click="arrancar(proceso.id, servidor.servidor)") arrancar
            button.btn-danger(ng-click="parar(proceso.id, servidor.servidor)") parar

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  script(src="javascripts/controllers/gestor.js")

