extends layout

block content
  div.container.theme-showcase(role="main")
    div.jumbotron
      h1= title
    div(ng-app="myApp" ng-controller="gestor")
      form.form-inline(role="form" ng-submit="guardarServidor(servidor)")
        div.form-group
          label SERVIDOR:
          input(type="text" placeholder="192.168.1.1:3000" ng-model="servidor" pattern="^(?:[0-9]{1,3}\.){3}[0-9]{1,3}:[0-9]{1,4}" required)
        button.btn-primary(type="submit") Añadir
      div.container(ng-repeat="servidor in servidores track by $index")
        h1 Servidor: {{servidor.servidor}}
        form.form-inline(role="form" ng-submit="crearProceso(idProceso, servidor)")
          div.form-group
            label PROCESO:
            input(type="text" placeholder="1" ng-model="idProceso" pattern="[0-9]{1,4}" required)
          button.btn-primary(type="submit") Crear
        table.table.table-hover
          thead
            tr
              th Id Proceso
              th
              th
              th Coordinador
              th Estado Elección
              th Estado Proceso
          tbody(ng-repeat="proceso in servidor.procesos track by $index")
            tr
              td {{proceso}}
              td
                button.btn.btn-success(ng-click="arrancarProceso(proceso, servidor.servidor)") Arrancar
              td
                button.btn.btn-danger(ng-click="pararProceso(proceso, servidor.servidor)") Parar
              td {{infoProcesos[proceso].coordinador}}
              td {{infoProcesos[proceso].eleccion}}
              td {{infoProcesos[proceso].estado}}

  script(src="javascripts/controllers/gestor.js")
