extends layout

block content
  div.container.theme-showcase(role="main")
    div.jumbotron
      h1= title
    div(ng-app="myApp" ng-controller="gestor")
      p.lead IP DEL SERVIDOR:
        input(ng-model="servidor")
      button.btn-primary(ng-click="guardarServidor(servidor)") añadir
      div(ng-show="mostrar" ng-repeat="x in servArray track by $index")
        p.lead {{x.servidor}} PROCESO:
        input(ng-model="pro")
          button.btn-primary(ng-click="crear(pro, $index)") crear
        div(ng-show="mostrar2" ng-repeat="a in x.procesos track by $index")
          p.lead{{a.id}}
          button.btn-success(ng-click="arrancar(a, $index)") arrancar
          button.btn-danger(ng-click="parar(a, $index)") parar

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
  script(src="javascripts/controllers/gestor.js")

